<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
{% block title %}
JobFlow
{% endblock %}
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>


<body>


<nav class="navbar">


<div class="logo">
Job<span>Flow</span>
</div>



<div class="nav-links">

<a href="/">
Dashboard
</a>

<a href="#">
Applications
</a>

<a href="#">
Profile
</a>


<button id="theme-toggle" class="theme-btn">
🌙
</button>


</div>


</nav>



<div class="container">


{% block content %}

{% endblock %}


</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>