{% extends "base.html" %}


{% block title %}
Dashboard
{% endblock %}



{% block content %}



<section class="hero">


<h1>
Find your next IT opportunity
</h1>


<p>
Automate your job search and track applications
</p>



<form method="POST" action="/search">


<input 
type="text"
name="keyword"
placeholder="Search IT Support, Cybersecurity..."
required
>


<button>
Search
</button>


</form>


</section>





<section class="stats">


<div class="stat-card">

<h3>
Jobs Found
</h3>

<p>
{{ jobs|length }}
</p>

</div>



<div class="stat-card">

<h3>
Applied
</h3>

<p>
0
</p>

</div>



<div class="stat-card">

<h3>
Interviews
</h3>

<p>
0
</p>

</div>



<div class="stat-card">

<h3>
Match Score
</h3>

<p>
0%
</p>

</div>


</section>





<h2 class="section-title">
Latest Jobs
</h2>



<div class="jobs">


{% for job in jobs %}


{% include "job_card.html" %}



{% else %}


<p>
No jobs available.
</p>


{% endfor %}


</div>



{% endblock %}